body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header-section{
    text-align: center;
    padding: 144px 250px;
    background: url(images/dn4.png);
    background-size: cover;
    background-position: center;
    background-size: 1400px 1000px;
    background-repeat: no-repeat;
}


.header-section h1{

    font-weight: 700px;
    font-size: 65px;
    color: white;
}

.header-section p{
    padding: 0px 150px 15px 150px;
    color: white;
}

.btn{

    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}