body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header-section{
    text-align: center;
    padding: 145px 250px;
    background: url(images/vsb7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header-section h1{

    font-weight: 600px;
    font-size: 60px;
    color: white;
}

.header-section p{
    padding: 0px 150px 15px 150px;
    color: white;
}

.btn{

    text-decoration: none;
    background: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.donate-today{
    text-align: center;
    padding: 100px 350px 50px 350px ;
}

.donate-today h1{
    font-size: 45px;
}

.donate-amount{

    display: flex;
    width: 15%;
}

.flex-container {
    padding: 0;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  row {
    width: 100%;
  }

  .flex-item {
    padding: 5px;
    margin: 10px;
    color: gray;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
  }

 .dif{
    border: 2px solid #FF5959;
    padding: 20px 15px 20px 15px;
    color: #FF5959;
 }

 .custom-amount{

    text-align: center;
    margin-bottom: 50px;

 }

 .custom-amount-user {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 400px;
    text-align: center;
    font-size: 20px;
  }

  hr{
    width: 50%;
    margin-bottom: 30px;

  }

  .donation-plan{

    text-align: center;
    padding: 50px 350px 20px 350px;
  }

  .donation-plan h1{
    font-weight: 700;
    font-size: 45px;
  }

  .donation-felx-container{
    display: flex;
    width: 80%;
    margin-left: 150px;
    
  }
.donation-felx-item{
    margin: 20px;
    padding: 30px;
}

.food{
    background-color: #4f9da636;
}

.education{
    background-color: #ff59592f;
}

.shelter{
    background-color: #fff4d6f1;
}


.subscribe {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFF4D6;
	width: 650px;
	height: 200px;
    margin: 0px 150px 50px 350px;
}


.form__email {
	padding: 11px 25px;
	border-radius: 5px;
 	border: 1px solid #FF5959;
	width: 250px;
	font-size: 18px;
	color: gray;
}

.form__email:focus {
	outline: 1px solid #06bd86;
}

.form__button {
	background: #FF5959;
	padding: 10px;
	border: none;
	width: 200px;
	height: 45px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
}


footer{
    text-align: center;
    background-color: black;
    color: #FF5959;
    padding: 25px 0px 25px 0px;
}

footer h1{
    font-family: 'Lobster', cursive;
}

footer p{
    color: white;
    font-size: 12px;
}

.technical-ttatistics{

    background-image: url(images/vbs2.png);
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;

}
.technical-ttatistics h1{

    color: white;
    padding: 50px 0px 0px 0px;
    margin-left: 150px;
    font-size: 45px;
}

.technical-ttatistics h2{

    font-size: 35px;
}


#tec-text{

    color: white;
    padding-bottom: 30px;
    margin-left: 150px;
}
.bg-fixed{

    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.own-practice-sec{

    margin: 20px;
    padding: 30px 60px 30px 60px;
    background-color: rgba(255, 255, 255, 0.247);
    text-align: center;

}